.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.Header {
  width: 100%;
  height: auto;
}
.Logo {
  width: 50px;
  height: 50px;
  
}
.Title {
  font-family: 'Arial', sans-serif;
}
.Carrer, .Name {
  margin: 5px;
  padding: 5px;
  font-size: 14px;
}

.Nav {
  padding: 10px;
}
.ListUnorder {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.ListUnorder li {
  padding: 5px;
  list-style: none;
}
.ListUnorder li a {
  width: 200px;
  height: 30px;
  font-size: 12px;
  text-decoration: none;
}

.ListUnorder li a:hover {
  opacity: 0.5;
}
.ListUnorder li a:focus {
  border: 1px solid green;
  color: white;
  background-color: green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
